In [4]:
#Creating a function

def greet(name):
    output = f"Hello {name},welcome to Python"
    return output

greet("Ahmed")

'Hello Ahmed,welcome to Python'

In [7]:
names = ["Bappy","Ahmed","Tejiri","Sam"]
for name in names:
    
    print(f"Welcome {name} to Python")

Welcome Bappy to Python
Welcome Ahmed to Python
Welcome Tejiri to Python
Welcome Sam to Python

In [13]:
#find the even or odd numbers from 1-50
def even_odd(num):
     if num%2 ==0:
        return "Even number"
     else:
             return "Odd number"
result = even_odd(50)
print(result)

Even number

In [14]:
for i in range (1,51):
    if i%2 ==0:
        print("Even")
    else:
        print("odd")

odd
Even
odd
Even
odd
Even
odd
Even
odd
Even
odd
Even
odd
Even
odd
Even
odd
Even
odd
Even
odd
Even
odd
Even
odd
Even
odd
Even
odd
Even
odd
Even
odd
Even
odd
Even
odd
Even
odd
Even
odd
Even
odd
Even
odd
Even
odd
Even
odd
Even

In [ ]:
def multiply(*bappy):
    product =1
    for i in bappy:
        product = product * i
    return product
res = multiply(1,2,3,4,5)
print(res)

#*ARGS FUNCTION

120

In [22]:
#**Kwargs function

def display(**bappy):
    for (key,value) in bappy.items():
        print(f"{key} -> {value}")
    
res = display(india="Dehli")
print(res)

india -> Dehli
None

In [3]:
#LAMBDA FUNCTION
a = lambda s: 'even' if s%2 == 0 else'odd'
a(6)

'even'

In [5]:
#HOF
L = [1,2,3,4,5]
list(map(lambda x: x**2,L))

[1, 4, 9, 16, 25]

In [7]:
L = [1,2,3,4,5]
map(lambda x: 'even' if x%2 == 0 else 'odd', L)
#converting it to a list
list(map(lambda x: 'even' if x%2 == 0 else 'odd', L))

['odd', 'even', 'odd', 'even', 'odd']

In [13]:
#FETCH USERS NAME FROM A LIST OF DICTIONARY
users = [
    {
        "name":"Sunday",
        "Gender": "Male",
        "Age": 32
        
    },
    {
        "name": "Derek",
        "Gender": "Male",
        "Age": 22
        
    },
    {
        "name": "Faith",
        "Gender": "Female",
        "Age": 21
    }
]

list(map(lambda users:users['Gender'],users))

['Male', 'Male', 'Female']

In [15]:
#FILTER HOF
#fetch fruits starting with 'a'
fruits = ['apple','banana','almond']
list(filter(lambda x:x.startswith('a'),fruits))

['apple', 'almond']